.login-wrapper{
    padding-top: 140px;
	padding-bottom:80px;
	@include respond('tab-port'){
		padding-top: 80px;
	}
}
.login-area{
	border: 1px solid #fff;
    padding: 60px;
    margin: auto;
    background:rgba(255,255,255,0.2);
    width: 100%;
    backdrop-filter: blur(25px);
	@include respond('tab-land'){
		padding: 30px;	
	}
	@include respond('phone'){
		padding: 25px;
	}
	form{
		.label-title{
			margin-bottom:5px;
			font-weight: 500;
			font-size: 16px;
			color: #fff;
		}
		.form-control{
			background: transparent;
			color:#fff;
			&::placeholder{
				color:#fff;
			}
		}
		.form-check-label{
			color:#fff;
		}
		.form-check-input{
			border-radius:0;
		}
		.secure-input {
		    position: relative;
			z-index: 1;
			.show-pass{
				cursor: pointer;
				position: absolute;
				right: 0;
				height: auto;
				width: 40px;
				top: 50%;
				transform: translate(-20%, -50%);
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 18px;
				i{
					color:#fff;
				}
				&:after{
					content: "";
					height: 2px;
					width: 24px;
					background-color: #fff;
					position: absolute;
					border-radius: 5px;
					transform: rotate(15deg);
					opacity: 0;
				}

				&.active{
					&:after{
						opacity:1;
					}
				}
			}
		}
	}
}

.end-side-content{
	padding: 80px;
	display: flex;
	flex-direction: column;
	@include respond('tab-land'){
		padding:0;
	}
	@include respond('tab-port'){
		padding-top:30px;
	}
	@include respond('phone'){
		padding:30px 15px 30px;
	}
}


