.dz-bnr-inr{
	&.style-2 {
		text-align: start;	
		@include respond('tab-port'){
			height: auto;
			padding: 30px 0;
		}
		.dz-bnr-inr-entry{
			text-align: start;
			@include respond('tab-port'){
				margin-bottom: 20px;
				display: block;
			}
		}
		.title{
			color: #FFF;
			font-size: 40px;
			font-weight: 500;
			text-transform: capitalize;
			margin-bottom: 50px;
			@include respond('tab-port'){
				margin-bottom: 15px;
				font-size: 30px;
			}
		}
		.dz-player{
			background: transparent;
			padding: 0;
			margin: 0;
			.title{
				margin-bottom: 30px;
			}
		}
		.container{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.dvd-box{
			height: 100%;
			margin-right: 30px;
			background-size: cover;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;
			border: 1px solid #fff;
			@include respond('tab-port'){
				margin-right: 0;
				margin-bottom: 30px;
			}
			img{
				animation: rotate-360 20s infinite linear;
			}
		}
	}
}
.style-2.header-transparent ~ .page-content .dz-bnr-inr.style-1{
	padding-top: 50px;
	@include respond('tab-port'){
		padding-top: 30px;
	}
}
