[data-body-bg="color_1"]{
	background: linear-gradient(90deg, #FF421D -2.36%, #D01266 101.57%);
}
[data-body-bg="color_2"]{
	background: linear-gradient(90deg, #4ADAE2 -2.36%, #1040AE 101.57%);
}
[data-body-bg="color_3"]{
	background: linear-gradient(90deg, #34E89E -2.36%, #0F3443 101.57%);
}
[data-body-bg="color_4"]{
	background: linear-gradient(90deg, #3584A7 -2.36%, #473B7B 101.57%);
}
[data-body-bg="color_5"]{
	background: linear-gradient(90deg, #E96F69 -2.36%, #324051 101.57%);
}
[data-body-bg="color_6"]{
	background: linear-gradient(90deg, #ffedbc -2.36%, #ee4967 101.57%);
}
[data-body-bg="color_7"]{
	background: linear-gradient(90deg, #7069C3 -2.36%, #6C248E 101.57%);
}