{% load static %}

	<footer class="site-footer style-1 bg-dark" id="footer">
		<div class="footer-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xl-12">
						<div class="text-center mid-content">
							<span class="sub-footer-title wow fadeInUp" data-wow-delay="0.6s">Want  to work together?</span>
							<h2 class="footer-title wow fadeInUp" data-wow-delay="0.8s">exapl@gmail.com</h2>
						</div>
						<div class="footer-menu  wow fadeInUp" data-wow-delay="1s">
							<ul class="">
								<li><a href="{% url 'w3music:index' %}">Start Here</a></li>
								<li><a href="{% url 'w3music:events' %}">Events</a></li>
								<li><a href="{% url 'w3music:blog-details' %}">Blog</a></li>
								<li><a href="{% url 'w3music:contact-us' %}">Contact Us</a></li>
							</ul>	
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Bottom Part -->
		<div class="container-fluid">
			<div class="footer-bottom">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-md-6 col-sm-6 text-md-start m-b10">
						<span class="text">@<span class="current-year">2024</span><a href="https://dexignzone.com/" target="_blank"> Dexignzone.com</a></span>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 text-md-center m-b10">
						<span class="copyright-text">Made with in <a href="https://dexignzone.com/" target="_blank">Dexignzone.com</a></span>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6 text-md-center text-lg-end text-center m-b10">
						<span class="text">Go to top <i class="fa-solid fa-arrow-up"></i></span>
					</div>
				</div>
			</div>
		</div>
	</footer>