{% load static %}

	<footer class="site-footer style-3 bg-dark" id="footer">
		<div class="footer-top">
			<div class="container">
				<div class="row text-xl-start">
					<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 m-b20">
						<div class="footer-logo">
							<a href="{% url 'w3music:index' %}" class="logo-white"><img src="{% static 'w3music/images/logo-white.png' %}" alt="/"></a>
						</div>
						<p class="text">Velit egestas dui id ornare arcu. Nibh sit amet commodo nulla nullam vehicula. Arcu dictum varius duis at consectetur. Faucibus nisl tincidunt eget nullam facilisis gravida neque.</p>
					</div>
					<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 m-b20">
						<h6 class="footer-title">Office</h6>
						<p class="text"><span>Germany</span> 785 15h Street, Office 478 Berlin, De 81566</p>
						<span class="infogmail"><a href="javascript:void(0)">Demo@gmail.com</a></span>
						<span class="number"><a href="tel:+001234567890">+00 123 456 7890</a></span>
					</div>
					<div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 m-b20">
						<h6 class="footer-title">Links</h6>
						<div class="footer-menu">
							<ul class="">
								<li><a href="{% url 'w3music:index' %}">Home</a></li>
								<li><a href="{% url 'w3music:about-us' %}">About</a></li>
								<li><a href="{% url 'w3music:services' %}">Services</a></li>
								<li><a href="{% url 'w3music:events' %}">Events</a></li>
								<li><a href="{% url 'w3music:blog-details' %}">Blog</a></li>
								<li><a href="{% url 'w3music:contact-us' %}">Contact us</a></li>
							</ul>	
						</div>
					</div>			
					<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 m-b20">
						<h6 class="footer-title">Newsletter</h6>
						<form class="dzSubscribe dz-subscribe-wrapper1" action="" method="">
							<div class="dzSubscribeMsg"></div>
							<div class="form-group">
								<div class="input-group">
									<i class="fa-regular fa-envelope"></i>
									<input name="dzEmail" required="required" type="email" class="form-control" placeholder="Enter Your Email Address">
									<div class="input-group-addon ">
										<button name="submit" value="Submit" type="submit" class="btn-link">
											<i class="la la-arrow-right"></i>
										</button>
									</div>
								</div>
							</div>
							<div class="form-check">
								<input class="form-check-input checkbox-secondary m-r15" type="checkbox" id="footer_check" value="">
								<label class="form-check-label" for="footer_check">I Agree To The <span><a href="javascript:void(0)">Privacy Policy</a></span></label>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer Bottom Part -->
		<div class="container">
			<div class="footer-bottom">
				<div class="row justify-content-between align-items-center">
					<div class="text-center text-xl-start col-xl-6">
						<span class="copyright-text"><a href="https://dexignzone.com/" target="_blank">Dexignzone</a> © <span class="current-year">2024</span>. All Rights Reserved.</span>
					</div>
					<div class="text-center text-xl-end col-xl-6">
						<div class="dz-social-icon">
							<ul>									
								<li>
									<a target="_blank" href="https://www.facebook.com/dexignzone/">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="https://twitter.com/dexignzones">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="https://www.instagram.com/dexignzone/">
										<i class="fab fa-instagram"></i>
									</a>
								</li>
								<li>
									<a target="_blank" href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g">
										<i class="fab fa-youtube"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>