//Shop Card ====
.shop-card{
	position: relative;
	overflow: hidden;
	background-color: $white;
	height: 100%;
	transition:0.5s;
	.dz-media{
		border: 1px solid #DBDBDB;
		padding: 20px;
		margin-bottom: 20px;
		@include respond('tab-land'){
			margin-bottom: 0px;	
		}
		.badge {
			padding: 5px 8px;
			background-color: var(--primary);
			color: white;
			border-radius: 0;
			font-family: var(--font-family-base);
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			text-align: center;
			position: absolute;
			top: 20px;
			left: 20px;
		}
	}
	.dz-content{
		background-color: #fff;
		.title{
			margin-bottom: 0;
			font-weight: 500;
			color: var(--title);
			@include respond('tab-land'){
				font-size: 16px;
			}
		}
		.meta-icon{
			width: 45px;
			min-width: 45px;
			height: 45px;
			display: inline-flex;
			align-items: center;
			background-color:var(--secondary);
			justify-content: center;
			margin: 0 3px;
			padding: 0;
			@include transitionSlow;
			i{
				font-size:17px;
				color: #fff;
			}
		}
		del{
			display: block;
			color: #A6A6A6;
			font-size: 16px;
			font-weight: 400;
		}
		.review-num{
			display: flex;
			align-items: center;
			margin-bottom: 5px;
			a,
			span{
				font-size: 14px;
				color:var(--bs-body-color);
				margin: 5px;
			}
			.dz-rating {
				display: flex;
				align-items: center;
				gap: 4px;
			}
		}
		@include respond('tab-land'){
			padding: 15px 12px;
		}
	}	
	.price{
		margin-bottom: 0;			
		font-weight: 500;
		font-size:20px;
	}
	.sub-title{
		background: var(--gradient);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size:16px;
		font-weight:500;
	}
	.products,
	.color{
		display:block;
			
	}
	
	.shop-meta{
		position: absolute;
		bottom: -46px;
		left:0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;	
		@include transitionFast;
		.btn{
			border-radius: 2px;
			padding: 7px 15px;
			font-weight: 500;
			font-size: 13px;
			height: 30px;
			box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.1);
			margin: 0 3px;
		}
		.meta-icon{
			width: 45px;
			min-width: 45px;
			height: 45px;
			display: inline-flex;
			align-items: center;
			background-color: #fff;
			justify-content: center;
			border-radius: 2px;
			margin: 0 3px;
			padding: 0;
			border: 1px solid #A7A7A7;
			@include transitionSlow;
			i{
				font-size:20px;
				color: #A7A7A7;
			}
		}
		& > a{
			&:hover{
				background: var(--gradient);
				border-color: transparent;
				i{
					color: #fff;
				}
			}
		}
	}
	.product-tag{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.dz-media{
		img{
			transition: 0.5s;
		}
		.effect {
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-radius: 50%;
			transition: width .4s ease-in-out,height .4s ease-in-out;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			z-index: 0;
			background: var(--secondary);
			opacity: 0.1;
		}
	}
	
	&.active,
	&:hover{
		.shop-meta{
			bottom: 26px;
			z-index:1;
		}
		@include respond('phone'){
			.shop-meta{
				bottom: 15px;
			}
		}
		.dz-media{
			img{	
				transform: scale(1.2);
			}	
			.effect{
				width: 400%;
				height: 400%;
			}
		}
	}
	@include respond('phone-land'){
		.btn-icon{
			padding: 0!important;
			width: 30px;
			min-width: 30px;
			height: 30px;
		}
	}
	@include respond('phone'){
		.dz-content{
			padding: 10px;
			text-align: left;
			.title{
				font-size: 15px;
				line-height: 1.2;
			}
		}
		.star-rating{
			margin-bottom: 5px;
		}
		.price{
			font-size: 13px;
			del{
				font-size: 15px;
				margin-right: 5px;	

			}
		}
	}
	&.style-1{
		.dz-media{
			background:#fff;
			width:200px;
			height:200px;
			margin:auto;
			margin: 30px auto 15px auto;
				img{
					height:100%;
				}
		}
		.add-product {
			background: #BEBEBE;
			width: 200px;
			height: 200px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 30px auto 15px auto;
			border-radius:4px;
		}
	}
}


//Products ===
.product-style1{
	.product-box{
		background-color: #eee;
	}
}
.product-style2{
	.product-box{
		&.style-2{
			height: 300px;
			background-color: #eee;
		}
	}
	@include respond ('wide-desktop'){
		.product-box{
			&.style-2{
				.product-content{
					padding: 20px 30px;				
				}	
				.product-name{
					font-size: 2rem;
					margin-bottom: 5px;
					line-height: 1.3;
				}					
				.offer{
					font-size: 15px;
				}
			}
		}
	}
	@include respond ('laptop'){
		.product-box{
			&.style-2{
				height: 220px;
				.product-content{
					padding: 15px 20px;				
				}	
				.product-name{
					font-size: 1.5rem;
				}					
			}
		}
	}
	@include respond('phone-land'){
		.product-box{
			&.style-2{
				height: 250px;
			}
		}
		&>div{
			padding: 0;
		}
	}
	@include respond('phone'){
		.product-box{
			&.style-2{
				height: 200px;
			}
		}
	}
}

.product-box{
	position: relative;
	overflow: hidden;
	.product-media{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}	
	&.style-1{
		height: 590px;
		@include respond('phone'){
			height: 300px;			
		}
	}
	.product-image{
		text-align: center;
		height: 100%;
		@include transitionMedium;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.product-content{
		bottom: 0;
		display: flex;
		align-items: end;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		right: 0;
		padding: 40px;
		z-index: 1;
		.product-name{
			font-size: 2.5rem;
			font-weight: 700;
		}
		.offer{
			font-size: 16px;
		}
		@include custommq ($max:1199px){
			padding: 20px 30px;
			.product-name{
				font-size: 2rem;
				margin-bottom: 5px;
				line-height: 1.3;
			}					
			.btn{
				padding: 8px 16px;
				font-size: 14px;
			}
			.offer{
				font-size: 15px;
			}
		}
		@include respond ('phone'){
			padding: 15px 18px;
			.product-name{
				font-size: 1.4rem;
				margin-bottom: 5px;
				line-height: 1.2;
			}					
			.btn{
				padding: 8px 16px;
				font-size: 14px;
			}
			.offer{
				font-size: 14px;
			}
		}
	}
	&.style-2{
		height: 280px;
		@include respond('phone'){
			height: 100%;
			min-height: 200px;
		}
		@include custommq($max:360px){
			min-height: 160px;
		}
		.product-content{
			display: flex;
			align-items: start;
			justify-content: space-between;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0px;
			padding: 35px 40px;
			flex-direction: column;
			z-index: 1;
			.product-name{
				font-size: 1.75rem;
				font-weight: 700;
				max-width: 230px;
			}
			@include custommq ($max:1380px){
				padding: 20px 30px;
				.product-name{
					font-size: 1.4rem;
					line-height: 1.3;
				}					
				.btn{
					padding: 8px 16px;
					font-size: 14px;
				}
				.offer{
					font-size: 15px;
				}
			}
			@include respond ('phone'){
				padding: 15px 18px;
				.product-name{
					font-size: 1.2rem;
					margin-bottom: 5px;
					line-height: 1.1;
					max-width: 170px;
				}					
				.btn{
					padding: 6px 14px;
					font-size: 13px;
				}
				.offer{
					font-size: 13px;
				}
			}
		}
	}
	&.style-3{
		height: 280px;
		@include respond('phone'){
			height: 100%;
			min-height: 200px;
		}
		@include custommq($max:360px){
			min-height: 160px;
		}
		.product-content{
			display: flex;
			align-items: start;
			justify-content: space-between;
			position: absolute;
			width: 60%;
			height: 100%;
			right: 0px;
			padding: 35px 40px;
			flex-direction: column;
			z-index: 1;
			.product-name{
				font-size: 1.75rem;
				font-weight: 700;
				max-width: 300px;
			}
			@include custommq ($max:1199px){
				padding: 20px 30px;
				.product-name{
					font-size: 1.4rem;
					line-height: 1.3;
				}					
				.btn{
					padding: 8px 16px;
					font-size: 14px;
				}
				.offer{
					font-size: 15px;
				}
			}
			@include respond ('phone'){
				padding: 15px 18px;
				.product-name{
					font-size: 1.2rem;
					margin-bottom: 5px;
					line-height: 1.1;
					max-width: 170px;
					br{
						display: none;
					}
				}					
				.btn{
					padding: 6px 14px;
					font-size: 13px;
				}
				.offer{
					font-size: 13px;
				}
			}
		}
	}
	&.style-4{
		height: 450px;
		.product-content{
			display: flex;
			align-items: start;
			justify-content: space-between;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0px;
			padding: 60px 40px;
			flex-direction: column;
			z-index: 1;
			.product-name{
				font-weight: 500;
				max-width: 540px;
				line-height: 1.2;
				margin-bottom: 15px;
			}
			.para-text{
				max-width: 460px;
				margin-bottom: 0;
				@include respond ('tab-port'){
					display:none;
				}
			}
		}
		@include custommq ($max:1740px){
			.product-content{
				width: 100%;
				height: 100%;
				padding: 35px 40px;
				.product-name{
					font-weight: 500;
					max-width: 540px;
					margin-bottom: 15px;
				}
				.para-text{
					max-width: 460px;
				}
			}
		}
		@include respond('laptop'){
			.product-content{
				padding: 20px 30px;
				.product-name{
					max-width: 400px;
					font-size: 1.875rem;
					margin-bottom: 6px;
				}
				.para-text{
					max-width: 460px;
				}
			}
		}
		@include respond('tab-land'){
			height: 270px;
			.product-content{
				padding: 20px 25px;
				.product-name{
					max-width: 320px;
					font-size: 1.5rem;
					margin-bottom: 6px;
				}
				.para-text{
					max-width: 430px;
					font-size: 15px;
				}
			}
		}
		@include respond('phone'){
			height: 240px;
			.product-content{
				padding: 20px 20px;
				.product-name{
					max-width: 280px;
					font-size: 1.3rem;
					margin-bottom: 6px;
				}
				.para-text{
					max-width: 290px;
					font-size: 13px;
					line-height: 1.4;
				}
			}
		}
		@include custommq($max:360px){
			height: 200px;
		}
	}
}

//Offer Box ====
.offer-card{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
	.offer-content{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 30px;
		.title{
			text-transform: capitalize;
		}
		.offer{
			margin-bottom: 15px;
		}
	}
	@include custommq($max:1399px, $min:1200px){
		.offer-content{
			padding: 18px;
			.title{
				font-size: 22px;
			}
			.offer{
				margin-bottom: 10px;
			}
		}
	}
	@include respond('phone-land'){
		.offer-content{
			padding: 18px;
			.title{
				font-size: 18px;
			}
			.btn{
				padding: 8px 18px;
				font-size: 14px;
			}
			.offer{
				font-size: 15px;
				margin-bottom: 10px;
			}
		}
	}
	@include respond('phone'){
		margin-bottom: 30px;
		.offer-content{
			padding: 30px;
			.title{
				font-size: 24px;
			}
			.btn{
				padding: 12px 25px;
				font-size: 16px;
			}
			.offer{
				font-size: 16px;
				margin-bottom: 15px;
			}
		}
	}
}


.quick-modal-swiper,
.product-gallery-swiper{
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	.swiper-slide{
		width: 45px!important;
		min-width: 45px!important;
		height: 45px;
		img{
			border: 2px solid $white;
			border-radius: 5px;
			box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.4);
		}
		&:last-child{
			margin-right: 0!important;
		}
		&.swiper-slide-thumb-active{
			img{
				border-color: var(--secondary);				
			}
		}
	}
	&.swiper-vertical{
		position: absolute;
		top: 30px;
		bottom: auto;
		left: 30px;
		transform: unset;
		.swiper-slide{
			margin-right: 0!important;
			margin-bottom: 15px!important;
		}
		&.vertical-center{
			top: 50%;
			transform: translateY(-50%);
			left: -50px;
		}
	}
	&.thumb-swiper-lg{
		.swiper-slide{
			height: 70px;
			width: 70px !important;
			min-width: 70px !important;
			img{
				box-shadow: unset;
				border-color: var(--border-color);
				border-radius: 0;
			}
			&.swiper-slide-thumb-active{
				img{
					border-color: var(--secondary);				
				}
			}
		}
	}
	&.thumb-sm{
		top: 15px;
		left: 15px;
		.swiper-slide{
			height: 50px;
			width: 50px !important;
			min-width: 50px !important;
			img{
				box-shadow: unset;
				border: 1px solid var(--border-color);
				border-radius: 0;
			}
			&.swiper-slide-thumb-active{
				img{
					border:1px solid  var(--secondary);				
				}
			}
		}
	}
	@include respond('tab-port'){
		&.swiper-vertical{
			top: 15px;
			left: 15px;	
		}
		&.thumb-swiper-lg{
			.swiper-slide{
				height: 50px;
				width: 50px !important;
				min-width: 50px !important;
			}
		}
	}
}

.quick-view-modal {
	.modal-body{
		padding:30px;
	}
	.btn-close {
		margin: 0px;
		position: absolute;
		right: 8px;
		top: 8px;
		color: var(--secondary);
		opacity: 1;
		font-size: 24px;
		padding: 0px;
		height: 40px;
		z-index: 1;
		width: 40px;
		border: 0px;
		background: transparent;
		@include respond('phone-land'){
			right: 0px;
			top: 0px;
		}
	}	
}

.star-rating > i{
	color:#FFA800;
}


//Product detail ===
.dz-product-detail{
	background-color:$white;
	margin-bottom: 30px;
	position: relative;
	&.static-media{
		.dz-media{
			margin-bottom: 30px;
			@include custommq($max:1199px){
				height: auto;
				margin-bottom: 15px;
			}
		}
	}
	.swiper-btn-center-lr + .dz-content{
		padding-top: 25px;
	}
	.dz-media{
		@include custommq($max:1199px){
			/* min-height: 280px; */
		}
		@include respond('phone-land'){
			height: 100%;
		}
		.dz-maximize{
			opacity: 0;
		}
		&:hover{
			.dz-maximize{
				opacity: 1;
			}	
		}
		@include respond('phone'){
			.dz-maximize{
				opacity: 1;
			}	
		}
	}
	.banner-social-media{	
		transform: unset;
		top: 250px;
		ul li a{
			color: #000;
		}
	}
	.dz-content{
		.title{
			font-weight: 500;
		}
		.meta-content{
			margin-right: 0;
			text-align: right;
		}
		.dz-tags{
			margin-bottom: 5px;
		}
		.dz-rating{
			display:flex;
			justify-content:left;
			li{
				i{
					margin: 0px 3px;
					font-size: 18px;
				}
			}
		}
		.para-text{
			font-size: 15px;
			color: var(--secondary);
			@include respond('phone'){
				font-size: 14px;
			}
		}
		.dz-rating{
			display: flex;
			line-height: 18px;
		}
		.review-num{
			display: flex;
				@include respond('phone'){
					display:block;
				}
			a,
			span{
				font-size: 13px;
				color: $body-color;
				line-height: 20px;
			}
		}
		.dz-content-footer{
			display:flex;	
			margin-bottom: 15px;
			.dz-content-start{
				flex:1;
			}
			.price-name{
				line-height:1.5;
			}
			.price-num{
				font-size:24px;
				font-weight:500;
				font-family: var(--font-family-title);
			}
		}
	}
	.swiper-btn-center-lr{
		.btn-next, 
		.btn-prev{
			background-color: transparent;
			border-radius: 0;
		}
		
		.btn-prev{
			#{left}:0;
		}
		.btn-next{
			right:0;
		}
		.gallery-button-prev,
		.gallery-button-next{
			i{
				font-size: 26px;
			}
		}	
	}
	
	.quick-modal-swiper,
	.product-gallery-swiper{
		position: absolute;
		bottom: 50px;
		#{left}: 50%;
		transform: translateX(-50%);
		.swiper-slide{
			width: 45px!important;
			min-width: 45px!important;
			height: 45px;
			img{
				border: 2px solid $white;
				border-radius: 5px;
				box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.4);
			}
			&:last-child{
				margin-right: 0!important;
			}
			&.swiper-slide-thumb-active{
				img{
					border-color: var(--secondary);				
				}
			}
		}
		&.swiper-vertical{
			position: absolute;
			bottom: 30px;
			top: auto;
			#{left}: 50%;
		    transform: translate(-50%, 0);
			.swiper-slide{
				margin-right: 0!important;
				margin-bottom: 15px!important;
			}
			.swiper-wrapper{
				flex-direction: row !important;
				gap: 20px !important;
			}
			&.vertical-center{
				top: 50%;
				transform: translateY(-50%);
				#{left}: -50px;	
			}
		}
		&.thumb-swiper-lg{
			.swiper-slide{
				height: 70px;
				width: 70px !important;
				min-width: 70px !important;
				img{
					box-shadow: unset;
					border-color: transparent;
					border-radius: 0;
				}
				&.swiper-slide-thumb-active{
					img{
						border-color: var(--secondary);				
					}
				}
			}
		}
		&.thumb-sm{
			#{left}: 50%;
			bottom: 30px;
			transform: translate(-50%, 0%);
			.swiper-slide{
				height: 50px;
				width: 50px !important;
				min-width: 50px !important;
				img{
					box-shadow: unset;
					border: 1px solid var(--secondary);
					border-radius: 0;
				}
				&.swiper-slide-thumb-active{
					img{
						border-color: var(--secondary);				
					}
				}
			}
		}
		@include respond('phone'){
			&.thumb-swiper-lg{
				.swiper-slide{
					height: 50px;
					width: 50px !important;
					min-width: 50px !important;
				}
			}
		}
	}
	
	.product-num{
		display:flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 30px;
		& > div{		
			margin-right: 45px;
			&:last-child{
				margin-right: 0;		
			}
			@include respond('tab-port'){
				margin-right: 15px;
				margin-bottom: 15px;				
			}
		}
		a{
			span{
				margin-#{left}:15px;
			}
		}
		.like-btn{
			border: 1px solid #F0F0F0;
			width: 60px;
			border-radius: var(--border-radius-base);
			height: 60px;
			text-align: center;
			line-height: 60px;
			font-size: 22px;
			margin-#{left}: 18px;
		}
	}
	&.style-2{
		.dz-content {
			.title{
				font-size: 35px;					
			}
			.sub-title{
				font-size: 20px;
				font-weight: 400;
				margin-bottom: 5px;				
			}
			.price-num{
				font-size: 24px;
				font-weight: 400;

			}
			.meta-content{
				text-align: left;
				.form-label{
					color: var(--title);
					font-size: 20px;
					margin-right: 10px;
				}
				.price-num{

				}
			}	
			.product-num{
				margin-bottom: 30px;
			}
			.cart-btn{
				flex-wrap: wrap;
				margin:0;
				.btn{
					margin: 5px 5px;
					svg{
						@include transitionFast;
					}
				}
			}
			.price-num{
				del{
					font-size: 18px;
					opacity: 0.60;
				}
			}
		}
		@include respond('tab-land'){
			padding-#{left}: 0;
			padding-top: 20px;
		}
		@include respond('tab-port'){
			.dz-content{
				.title{
					font-size: 30px;					
				}
				.meta-content{
					margin-bottom: 10px;
				}
				.btn-group,	
				.product-num{
					margin-bottom: 20px;
				}
			}
		}
		@include respond('phone'){
			padding-top: 0;
			.dz-content{
				.title{
					font-size: 24px;					
				}
				.meta-content{
					justify-content: space-between;
					margin-bottom: 5px;
					.price-num{
						font-size: 22px;
						margin-bottom: 0;
						del{
							font-size: 16px;
						}
					}
				}
				.btn-group,	
				.product-num{
					justify-content: space-between;
					margin-bottom: 15px;
				}
			}
		}
	}
	.dz-info{
		margin-bottom: 40px;
		@include respond('tab-port'){
			margin-bottom: 20px;			
		}
		@include respond('phone'){
			margin-bottom: 0;
		}
		ul {
			padding-top: 20px;
			border-top: 1px solid var(--border-color);
			li{
				color: var(--secondary);
				font-size: 14px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				margin-bottom: 10px;
				a{
					color: var(--secondary);					
					font-size: 16px;
				}
				strong{
					font-size: 15px;
					margin-right: 10px;
				}
				span{
					padding: 0 5px;
					&:last-child{
						padding: 0;
					}
				}
				&:last-child{
					margin-bottom: 0;
					span{
						padding: 0 10px;
					}	
				}
			}
		}	
		&.style-2{
			ul{
				display: flex;
				flex-wrap: wrap;
				li{
					padding-right: 30px;
					&:last-child{
						margin-#{left}: auto;	
						padding-right: 0;
					}
				}
				@include respond('tab-port'){
					margin-bottom: 0px;
					li{
						padding-right: 0px;
						&:last-child{
							margin-#{left}: 0;	
						}
					}	
				}
			}
		}
	}
	&.style-3{
		padding: 0;
		margin: 0;
		background: transparent;
		@include respond('phone-land'){
			margin-bottom: 30px;
		}
		.swiper-btn-center-lr{
			margin-#{left}: -80px;
			padding-#{left}: 130px;
			@include respond('tab-land'){
				margin-#{left}: 0;
				padding-#{left}: 80px;
			}
			@include respond('tab-port'){
				padding-#{left}: 50px;
			}
		}
		
		.product-gallery-swiper.swiper-vertical {
			position: absolute;
			top: 50%;
			bottom: auto;
			#{left}: 30px;
			transform: translateY(-50%);
			@include respond('tab-land'){
				#{left}: 0px;
			}
		}
		.product-gallery-swiper2{
			&:after {
				content: "";
				position: absolute;
				bottom: 0px;
				#{left}: 12%;
				width: 51%;
				height: 60%;
				background: white;
				border-radius: 50% 50% 0px 0px;
				z-index: -1;
			}
		}
	}
}
.btn-quantity{
	margin-right: 45px;
	.bootstrap-touchspin{
		width: 160px;
		min-width: 160px;
		position: relative;
		height: 40px;
		display: block;
	}
	input{
		width: auto;
		padding: 0;
		text-align: center;
		z-index: 1;
		height: 40px!important;
		border: 1px solid var(--border-color);
		background-color: transparent;
		border-radius: 0!important;
		font-size: 15px;
		width: 60px!important;
		color: var(--title);
		margin-#{left}: auto!important;
		margin-right: auto!important;
		&:focus{
			box-shadow: unset; 
		}
	}
	.input-group-btn-vertical{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;                                      
		padding: 0;
		margin-#{left}: 0!important;

		.btn{
			padding: 0px;
			min-width: 40px;
			justify-content: center;
			z-index: 1;
			border-radius:0;
			position: relative;
			color: #fff;
			&:active{
				border-color: transparent;
			}
		}
	}
	.input-group {
		margin-bottom:0;
	}
	&.quantity-sm{
		.bootstrap-touchspin{
			width: 120px;
			min-width: 120px;
			height: 30px;
		}
		input{
			width: 40px!important;
			height: 30px!important;
		}
		.btn{
			min-width: 30px;
			font-size: 14px;
		}
	}
	&.light{
		.btn{
			background-color: $light;
			color: var(--title);
		}
	}
}

//Product Detail Box ===
.detail-bx{
	padding-#{left}: 30px;
	padding-right: 30px;
	.para-text{
		margin-bottom: 40px;
	}
	.feature-detail{
		display: flex;
		align-items: center;
		margin-bottom: 60px;
		flex-wrap: wrap;
		li{
			display: flex;
			align-items: center;
			padding: 10px 40px 10px 0;
			text-align: left;	
			&:last-child{
				padding-right: 0;			
			}
			i{
				font-size: 22px;
				height: 44px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid var(--primary);
				border-radius: 50%;
				width: 44px;
				min-width: 44px;
				margin-right: 10px;
				color: var(--primary);
			}
			h5{
				font-weight: 400;
				margin-bottom: 0;
			}
			svg{
				margin-right: 10px;
			}
		}	
	}
	@include respond('tab-port'){
		padding-#{left}: 0;
		padding-right: 0;
		.feature-detail{
			margin-bottom: 30px;
			li{
				padding: 6px 20px 6px 0;
				svg{
					width: 30px;
					height: 30px;
				}
				h5{
					font-size: 16px;
				}
			}
		}
		.para-text{
			margin-bottom: 20px;
		}
	}
	@include respond('phone-land'){
		.para-text{
			text-align: justify;
		}
	}
	@include custommq($max:600px){
		.para-text{
			font-size: 14px;
		}
	}
	@include respond('phone'){
		.feature-detail{
			margin-bottom: 15px;
			li{
				h5{
					font-size: 14px;
				}
			}
		}
	}
}

//Category Swiper===
.category-swiper,
.category-swiper2{
	margin-bottom: 25px;	
	.shop-card{
		.dz-content{
			padding: 12px 0;
		}
	}	
	@include respond('phone'){
		margin-bottom: 15px;			
	}
}

.category-swiper2{
	margin-bottom:0; 	
	.shop-card{
		.dz-content{
			text-align:center;
		}
	}	
}

.product-size{
	&.btn-group{
		display: flex;
		flex-wrap: wrap;
	}
	.btn{	
		padding: 0;
		height: 34px;
		width: 34px;
		line-height: 36px;
		font-size: 15px;
		font-weight: 400;
		border-radius: 0;
		background-color: $white!important;
		justify-content: center;
		background: #efefef;
		border: 1px solid var(--border-color);
		color: var(--title);
		margin-right: 8px!important;
		flex: unset;	
		margin-bottom: 8px;
		&:hover{
			border-color: inherit;
		}
	}
	.btn-check:checked + .btn{
		background: var(--secondary)!important;
		color: #fff;
		border-color: var(--secondary);
	}
	.btn-check:checked + .btn{
		&.btn-light{
			background: var(--secondary) !important;
			border-color: var(--secondary);
			color: #fff;
		}
	}
}