.about-p{
	width:815px;
	margin:auto;
	@include respond('tab-port'){
		width:100%;
		font-size:14px;
	}
}
.about-media{
	height:700px;
	img{
		height:100% !important;
		object-fit:cover;
	}
	@include respond('tab-port'){
		height:380px;
	}
	@include respond('phone'){
		height:300px;
	}
}
.about-box{
	&.style-1{
		padding: 55px 50px;
		height:100%;
		@include respond('tab-land'){
			padding:30px;
		}
		@include respond('phone'){
			padding:20px;
		}
		.sub-title{
			font-family: var(--font-family-title);
			font-size: 30px;
			font-weight: 400;
			line-height: 1.4;
			background: var(--gradient);
			@include backgroundtext;
			@include respond('phone'){
				font-size:24px;
			}
		}
		.title{
			font-size: 50px;
			font-weight: 600;
			line-height: 1.4;
			@include respond('tab-land'){
				font-size:40px;
			}
			@include respond('phone'){
				font-size:28px;
			}
		}
	}
	&.style-2{
		padding: 50px 70px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: center;
		@include respond('tab-land'){
			padding:30px 40px;
		}
		 @include respond('phone-land'){
			padding:30px;	
		 }	
		 @include respond('phone'){
			padding:20px;
		 }
		.title{
			font-size: 40px;
			font-weight: 500;
			line-height: 1.2;
			color: #fff;
			width: 75%;
			@include respond('phone'){
				font-size:26px;
			}
		}
		.text{
			color: #fff;
			font-size: 14px;
			font-weight: 200;
			margin-bottom:30px;
			@include respond('phone'){
				margin-bottom:15px;
			}
		}
		.bottom-content{
			font-size: 16px;
			font-weight: 400;
			color:#fff;
			span{
			    padding: 2px 5px;
				background: var(--gradient);
				@include backgroundtext;
				position: relative;
				z-index: 1;
				margin-left:10px;
				font-weight: 400;
				&:after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: #fff;
					z-index: -1;
				}
			}
		}
		
	}
	&.style-3{
		padding-left:15px;
		@include respond('tab-port'){
			padding:0;
		}
		.sub-title{
			font-family: var(--font-family-title);
			font-size: 30px;
			font-weight: 400;
			line-height: 1.4;
			background: var(--gradient);
			@include backgroundtext;
		}
		.title{
			font-family: var(--font-family-base);
			font-size: 40px;
			font-weight: 500;
			line-height: 1.4;
			text-transform: capitalize;
			@include respond('tab-port'){
				font-size:32px;	
			}
			@include respond('phone'){
				font-size: 24px;
			}
		}
		&.right{
			text-align: end;	
			padding-left:0px;
			padding-right:20px;
			@include respond('tab-port'){
				padding:0;
				text-align: start;	
			}
		}
	}
	&.style-4{
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		height: 100%;
		max-height:550px;
		position: relative;
		z-index: 1;
		.dz-media{
			position: unset;
			.music{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -0%);
			}
			svg{
				width: 385px;
				@include respond('phone'){
					width:100%;
				}
			}
		}
		@include respond('tab-port'){
			height: 450px;
			margin-right: 0;
		}
		@include respond('phone'){
			height: 320px;
		}
	}
	&.style-5{
		position:relative;
		z-index:1;
		padding: 30px;
		background: #191C31;
		margin-bottom: 0;
		.about-content{
			display:flex;
			align-items:center;
			justify-content:space-between;
			@include respond('phone'){
				display:block;
			}
			.left-content{
				width:50%;
				.title{
					color: #fff;
					font-size: 25px;
					width: 76%;
					margin-bottom: 40px;
					@include respond('phone'){
						width: 100%;
						margin-bottom:20px;

					}
				}
				@include respond('phone'){
					width:100%;
				}
			}
			.right-content{
				width:50%;
				.text{
					color:#fff;
					@include respond('tab-land'){
						font-size:15px;
					}
				}
				@include respond('phone'){
					width: 100%;
				}
			}
		}
		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%;
			background-image:var(--bg-img);
			background-repeat: no-repeat;
			background-position: right;
			z-index: -1;
			background-size: contain;
			@include respond('phone'){
				background-size: cover;
			}
		}
	}
	&.style-6{
		.sub-title{
			font-size: 20px;
			font-weight: 500;
		}
		.title{
			font-size: 30px;
			font-weight: 500;
			text-transform: capitalize;
			@include respond('phone'){
				font-size:20px;
			}
		}
		.dz-media{
			margin-bottom:20px;
		}
		.dz-meta{
			margin-bottom:30px;
			ul{
				li{
					font-size: 16px;
					font-weight: 400;
					margin-bottom: 5px;
					strong{
						color:var(--title);
						font-weight:500;
						margin-right:5px;
					}
				}
			}
		}
		
	}
	
}

.music-sound{
	svg{
		path{
			animation: scale3 0.6s infinite;
			transform-origin: center;
		}
	}
}
@keyframes scale3{
	0% {
		transform: scaleY(1.5);
	}
	70% {
		transform: scaleY(0.5);
	}
	100% {
		transform: scaleY(1.5);
	}
}

.music{
	.line{
		background: var(--gradient);
		height: 70px;
		width: 10px;
		margin: 5px;
		display: inline-block;
		animation: animate 1s ease infinite;
		@include respond('tab-land'){
			width:7px;
		}
		@include respond('phone'){
			width: 2.5px;
			height: 50px;

		}
		
		&:nth-child(1),
		&:nth-child(10){
			animation-delay: 0.8s;
		}
		&:nth-child(2),
		&:nth-child(9){
			animation-delay: 0.6s;
		}
		&:nth-child(3),
		&:nth-child(8){
			animation-delay: 0.4s;
		}
		&:nth-child(4),
		&:nth-child(7){
			animation-delay: 0.2s;
		}
		&:nth-child(5),
		&:nth-child(6){
			animation-delay: 0s;
		}
	}
}
@keyframes animate{
    0%,100%{ 
		transform: scale(0); 
	}
    50%{ transform: scale(1.5); 
	}
}

@keyframes move-waves {
  0% {
    transform: translate3d(-30px, 0, 0);
  }
  50% {
    transform: translate3d(30px, 0, 0);
  }
  100% {
	transform: translate3d(-30px, 0, 0);
  }
}