{% extends 'w3music/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
		<!-- Blog Section -->
		<div class="content-inner overflow-hidden">
			<div class="min-container">
				<!-- blog start -->
				<div class="blog-single dz-card">
					<div class="post-header">
						<h1 class="dz-title">Must-haves in your 2024 playlist.</h1>
						<div class="dz-meta">
							<ul>
								<li class="dz-comment"><a href="javascript:void(0);">6 Comment</a></li>
								<li><a href="javascript:void(0);">Feb 19, 2024</a></li>
							</ul>
						</div>
					</div>
					<div class="dz-media alignfullwide w-100 m-auto">
						<img src="{% static 'w3music/images/background/pic2.png' %}" alt="/">
					</div>
					<div class="dz-info">
						<div class="dz-post-text">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<blockquote class="wp-block-quote">
								<p>Such an inspiring blog! I thoroughly enjoyed reading your insightful post. Kudos to you!</p>
								<cite>MusicLover87</cite>
								<i class="flaticon-right-quote quotes"></i>
							</blockquote>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							
							<div class="alignfullwide w-100 m-auto">
								<img src="{% static 'w3music/images/background/pic3.png' %}" alt="/">
							</div>

							<p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. </p>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
							
							<div class="author-box m-b30">
								<div class="author-profile-info">
									<div class="author-profile-pic">
										<img src="{% static 'w3music/images/blog/detail/author.jpg' %}" alt="/">
									</div>
									<div class="author-profile-content">
										<h6>Mistine Hoye</h6>
										<p>I am a Senior Chief in London</p>
										<img src="{% static 'w3music/images/blog/detail/signing.png' %}" alt="/">
										<ul class="social-icon m-b0">
											<li>
												<a href="https://www.facebook.com/dexignzone" target="_blank">
													<i class="fa-brands fa-facebook-f"></i>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/dexignzone/" target="_blank">
													<i class="fa-brands fa-instagram"></i>
												</a>
											</li>
											<li>
												<a href="https://twitter.com/dexignzones" target="_blank">
													<i class="fa-brands fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="https://www.behance.net/dexignzone" target="_blank">
													<i class="fa-brands fa-behance"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
							
							<ul>
								<li>A wonderful serenity has taken possession.</li>
								<li>Of my entire soul, like these sweet mornings of spring which.</li>
								<li>I enjoy with my whole heart.</li>
								<li>This spot, which was created For the bliss of souls like mine.</li>
							</ul>
							
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
							
						</div>
						<div class="dz-share-post">
							<div class="post-tags">
								<h6 class="font-14 m-b0 m-r10 d-inline">Tags:</h6>
								<a href="{% url 'w3music:product-detail' %}">Art</a>
								<a href="{% url 'w3music:product-detail' %}">Business</a>
								<a href="{% url 'w3music:product-detail' %}">Design</a>
								<a href="{% url 'w3music:product-detail' %}">Life style</a>
								<a href="{% url 'w3music:product-detail' %}">Music</a>
							</div>
							<div class="dz-social-icon">
								<ul>
									<li><a target="_blank" class="btn-social btn-sm text-dark" href="https://www.facebook.com/">
										<i class="fab fa-facebook-f"></i>
									</a></li>
									<li><a target="_blank" class="btn-social btn-sm text-dark" href="https://twitter.com/">	
										<i class="fab fa-twitter"></i>
									</a></li>
									<li><a target="_blank" class="btn-social btn-sm text-dark" href="https://www.instagram.com/">
										<i class="fab fa-instagram"></i>
									</a></li>
									<li><a target="_blank" class="btn-social btn-sm text-dark" href="https://www.linkedin.com/">
										<i class="fa-brands fa-linkedin-in"></i>
									</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
					
				<div class="clear" id="comment-list">
					<div class="comments-area" id="comments">
						<h4 class="comments-title">Comments (03)</h4>
						<div class="clearfix">
							<!-- comment list END -->
							<ul class="comment-list">
								<li class="comment">
									<div class="comment-body">
										<div class="comment-author vcard"> 
											<img  class="avatar photo" src="{% static 'w3music/images/testimonial/mini/pic1.jpg' %}" alt="/"> 
											<cite class="fn">Monsur Rahman Lito</cite>
										</div>
										<p class="font-14 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
										<div class="reply"> 
											<a href="javascript:void(0);" class="comment-reply-link">
											Reply</a> 
										</div>
									</div>
									<ol class="children">
										<li class="comment odd parent">
											<div class="comment-body">
												<div class="comment-author vcard"> 
													<img  class="avatar photo" src="{% static 'w3music/images/testimonial/mini/pic2.jpg' %}" alt="/"> 
													<cite class="fn">Jake Johnson</cite>
												</div>
											   <p class="font-14 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
												<div class="reply"> 
													<a href="javascript:void(0);" class="comment-reply-link">
													 Reply</a> 
												</div>
											</div>
											<!-- list END -->
										</li>
									</ol>
									<!-- list END -->
								</li>
								<li class="comment">
									<div class="comment-body">
										<div class="comment-author vcard"> 
											<img  class="avatar photo" src="{% static 'w3music/images/testimonial/mini/pic3.jpg' %}" alt="/"> 
											<cite class="fn">John Doe</cite> 
										</div>
										<p class="font-14 mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
										<div class="reply"> 
											<a href="javascript:void(0);" class="comment-reply-link">
											Reply</a> 
										</div>
									</div>
								</li>
							</ul>
							<!-- comment list END -->
							<!-- Form -->
							<div class="comment-respond style-1" id="respond">
								<h4 class="comment-reply-title" id="reply-title">Good Comments 
									<small><a style="display:none;" href="javascript:void(0);" id="cancel-comment-reply-link" rel="nofollow">Cancel reply</a></small>
								</h4>
								<form class="comment-form" id="commentform" method="">
									<p class="comment-form-author">
										<label for="author">Name <span class="required">*</span></label>
										<input type="text" name="Author"  placeholder="Author" id="author">
									</p>
									<p class="comment-form-email">
										<label for="email">Email <span class="required">*</span></label>
										<input type="text" placeholder="Email" name="email" id="email">
									</p>
									<p class="comment-form-comment">
										<label for="comment">Comment</label>
										<textarea rows="8" name="comment" placeholder="Type Comment Here" id="comment"></textarea>
									</p>
									<p class="form-submit">
										<button type="submit" class="btn btn-dark rounded-0 btn-hover-1" id="submit"><span>Submit Now</span></button>
									</p>
								</form>
							</div>
							<!-- Form -->
						</div>
					</div>
				</div>
				<!-- blog END -->
			</div>
		</div>
		<!-- Blog Section -->
{% endblock %}
