{% extends 'w3music/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
        <section class="content-inner-3">
            <div class="container">
                <div class="row justify-content-between align-items-end">
                    <div class="text-center text-xl-start col-xl-6">
                        <div class="section-head ">
                            <h3 class="sub-title wow flipInX" data-wow-delay="0.2s">Recent Tours</h3>
                            <h2 class="title wow flipInX" data-wow-delay="0.4s">Recent Tours</h2>
                        </div>
                    </div>
                    <div class="text-center text-xl-start col-xl-6 m-b30 m-lg-b40">
                        <p class="text m-lg-b15 wow flipInX show" data-wow-delay="0.6s">No More Endlessly Listening To One Person’s Favorite Songs Over And Over. Hang The DJ Is a Collaborative Playlist That,</p>
                        <a href="{% url 'w3music:blog-standard' %}" class="btn-link btn-gradient wow flipInX" data-wow-delay="0.8s">VIEW ALL TOURS</a>
                    </div>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                        <div class="dz-card style-5 overlay-shine dz-img-effect zoom">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/blog/grid2/pic1.jpg' %}" alt="/">
                                <span class="post-date">23 Mar</span> 
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li><a href="javascript:void(0);">Music</a></li>
                                        <li class="dz-comment"><a href="javascript:void(0);">2 Comment</a></li>
                                    </ul>
                                </div>
                                <h5 class="dz-title mb-0"><a href="{% url 'w3music:blog-standard' %}">Exploring Cosmic Tunes Stellar Showcase</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                        <div class="dz-card style-5 overlay-shine dz-img-effect zoom">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/blog/grid2/pic2.jpg' %}" alt="/">
                                <span class="post-date">22 Mar</span> 
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li><a href="javascript:void(0);">Music</a></li>
                                        <li class="dz-comment"><a href="javascript:void(0);">2 Comment</a></li>
                                    </ul>
                                </div>
                                <h5 class="dz-title mb-0"><a href="{% url 'w3music:blog-standard' %}">Tuning an Acoustic and Electric Guitar in 6 Steps</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                        <div class="dz-card style-5 overlay-shine dz-img-effect zoom">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/blog/grid2/pic3.jpg' %}" alt="/">
                                <span class="post-date">02 Fab</span> 	
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li><a href="javascript:void(0);">Music</a></li>
                                        <li class="dz-comment"><a href="javascript:void(0);">2 Comment</a></li>
                                    </ul>
                                </div>
                                <h5 class="dz-title mb-0"><a href="{% url 'w3music:blog-standard' %}">An Evening Under the Stars Celestial Serenade</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                        <div class="dz-card style-5 overlay-shine dz-img-effect zoom">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/blog/grid2/pic4.jpg' %}" alt="/">
                                <span class="post-date">28 Nov</span> 	
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li><a href="javascript:void(0);">Music</a></li>
                                        <li class="dz-comment"><a href="javascript:void(0);">2 Comment</a></li>
                                    </ul>
                                </div>
                                <h5 class="dz-title mb-0"><a href="{% url 'w3music:blog-standard' %}">A Journey of Music And Emotion Embrace</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                        <div class="dz-card style-5 overlay-shine dz-img-effect zoom">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/blog/grid2/pic5.jpg' %}" alt="/">
                                <span class="post-date">27 Nov</span> 	
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li><a href="javascript:void(0);">Music</a></li>
                                        <li class="dz-comment"><a href="javascript:void(0);">2 Comment</a></li>
                                    </ul>
                                </div>
                                <h5 class="dz-title mb-0"><a href="{% url 'w3music:blog-standard' %}">Dancing through Light and Sound Groove Gala</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                        <div class="dz-card style-5 overlay-shine dz-img-effect zoom">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/blog/grid2/pic6.jpg' %}" alt="/">
                                <span class="post-date">14 Jan</span> 	
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li><a href="javascript:void(0);">Music</a></li>
                                        <li class="dz-comment"><a href="javascript:void(0);">2 Comment</a></li>
                                    </ul>
                                </div>
                                <h5 class="dz-title mb-0"><a href="{% url 'w3music:blog-standard' %}">Exploring Cosmic TunesStellar Showcase</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                        <div class="dz-card style-5 overlay-shine dz-img-effect zoom">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/blog/grid2/pic7.jpg' %}" alt="/">
                                <span class="post-date">30 Nov</span> 	
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li><a href="javascript:void(0);">Music</a></li>
                                        <li class="dz-comment"><a href="javascript:void(0);">2 Comment</a></li>
                                    </ul>
                                </div>
                                <h5 class="dz-title mb-0"><a href="{% url 'w3music:blog-standard' %}">A Journey of Music And Emotion Embrace</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                        <div class="dz-card style-5 overlay-shine dz-img-effect zoom">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/blog/grid2/pic8.jpg' %}" alt="/">
                                <span class="post-date">28 Nov</span> 	
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li><a href="javascript:void(0);">Music</a></li>
                                        <li class="dz-comment"><a href="javascript:void(0);">2 Comment</a></li>
                                    </ul>
                                </div>
                                <h5 class="dz-title mb-0"><a href="{% url 'w3music:blog-standard' %}">Folk Music Traditions The Reinvigorated Fantasia</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30">
                        <div class="dz-card style-5 overlay-shine dz-img-effect zoom">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/blog/grid2/pic9.jpg' %}" alt="/">
                                <span class="post-date">18 Nov</span> 	
                            </div>
                            <div class="dz-info">
                                <div class="dz-meta">
                                    <ul>
                                        <li><a href="javascript:void(0);">Music</a></li>
                                        <li class="dz-comment"><a href="javascript:void(0);">2 Comment</a></li>
                                    </ul>
                                </div>
                                <h5 class="dz-title mb-0"><a href="{% url 'w3music:blog-standard' %}">Tuning an Acoustic and Electric Guitar in 6 Steps</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class=" content-inner-1 overflow-hidden">
            <div class="container">
                <div class="row justify-content-between align-items-end">
                    <div class="text-center text-xl-start col-xl-7">
                        <div class="section-head ">
                            <h3 class="sub-title wow flipInX w-100" data-wow-delay="0.2s">Upcoming Tours</h3>
                            <h2 class="title wow flipInX" data-wow-delay="0.4s">Upcoming Tour Dates of Your Favorite Artists!</h2>
                        </div>
                    </div>
                    <div class="text-center text-xl-start col-xl-5 m-b30">
                        <p class="text m-lg-b15 wow flipInX show" data-wow-delay="0.6s">No More Endlessly Listening To One Person’s Favorite Songs Over And Over. Hang The DJ Is a Collaborative Playlist That,</p>
                        <a href="{% url 'w3music:blog-standard' %}" class="btn-link btn-gradient wow flipInX" data-wow-delay="0.8s">VIEW ALL TOURS</a>
                    </div>
                </div>
            </div>

            <div class="p-lr30">
                <div class="swiper artists-swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="0.1s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic1.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">Intimate Music Experience</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">01</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="0.2s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic2.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">Rock & roll Concert</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">02</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="0.3s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic3.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">The Best Jazz Songs</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">03</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="0.4s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic4.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">The World Of Blues</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">04</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="0.5s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic5.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">Finding Serenity in Nature</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">05</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="0.6s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic6.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">Rock & roll Concert</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">06</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="0.7s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic7.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">the Power of Movement</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">07</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="0.8s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic8.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">the Gastronomic Adventure</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">08</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="0.9s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic1.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">Intimate Music Experience</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">09</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="1.0s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic2.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">Rock & roll Concert</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">10</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="1.1s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic3.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">The Best Jazz Songs</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">11</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="1.2s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic4.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">The World Of Blues</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">12</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="1.3s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic5.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">Finding Serenity in Nature</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">13</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="1.4s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic6.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">Rock & roll Concert</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">14</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="1.5s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic7.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">the Power of Movement</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">15</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="swiper-slide wow fadeInUp" data-wow-delay="1.6s">
                            <div class="artists-box style-1" style="background-image:url({% static 'w3music/images/artists/pic8.jpg' %});">
                                <div class="dz-content">
                                    <h6 class="date">December 20, 2023</h6>
                                    <h4 class="title">the Gastronomic Adventure</h4>
                                </div>
                                <ul>
                                    <li class="bottom-title">Concert</li>
                                    <li class="top-title">16</li>
                                    <li class="center-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" fill="none">
                                        <g clip-path="url(#clip0_1338_4909)">
                                            <path d="M23.2223 16.9925V21.3483L40.6454 21.3483L15.4441 46.5496L18.5554 49.6609L43.7567 24.4596L43.7567 41.8827L48.1125 41.8827V16.9925H23.2223Z" fill="white"/>
                                        </g>
                                        </svg>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>	
{% endblock %}
