{% extends 'w3music/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
        <section class="content-inner-3">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 m-b30">
                        <div class="about-box style-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="dz-media">
                                <img src="{% static 'w3music/images/about/pic12.jpg' %}" alt="/">
                            </div>
                            <h3 class="title">Events details</h3>
                            <div class="dz-meta">
                                <ul>
                                    <li><strong>Location:</strong> Denmark New York</li>
                                    <li><strong>Date:</strong>May 22 2023 at 8pm</li>
                                    <li><strong>Website:</strong>example.com</li>
                                    <li><strong>Event Types:</strong>music band events</li>
                                    <li><strong>Organizad By:</strong>john doe</li>
                                </ul>
                            </div>
                            <a href="{% url 'w3music:tickets' %}" class="btn btn-dark btn-hover-1 rounded-0 m-b20"><span>BUY TICKET</span></a>
                        </div>
                    </div>
                
                    <div class="col-xl-8 col-lg-8">
                        <div class="map-iframe m-b20">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d227748.3825624477!2d75.65046970649679!3d26.88544791796718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396c4adf4c57e281%3A0xce1c63a0cf22e09!2sJaipur%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1500819483219" style="border:0; width:100%; min-height:100%; margin-bottom: -8px;" allowfullscreen></iframe>
                        </div>
                        <div class="about-box style-6 wow fadeInUp" data-wow-delay="0.6s">
                            <h3 class="title">About Events</h3>
                            <p class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            <h6 class="sub-title text-capitalize">Follow Us social media</h6>	
                            <div class="dz-social-icon style-1 dz-hover-move dark m-b30">
                                <ul>									
                                    <li style="transform: translate(0px, 0px) scale(1);">
                                        <a target="_blank" href="https://dribbble.com/">
                                            <i class="flaticon flaticon-dribble"></i>
                                        </a>
                                    </li>
                                    <li style="transform: translate(-0.1px, 0px) scale(1);">
                                        <a target="_blank" href="https://www.facebook.com/dexignzone/">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li style="transform: translate(-0.1px, 0px) scale(1);">
                                        <a target="_blank" href="https://open.spotify.com/">
                                            <i class="flaticon flaticon-spotify"></i>
                                        </a>
                                    </li>
                                    <li style="transform: translate(0px, -0.1px) scale(1);">
                                        <a target="_blank" href="https://twitter.com/dexignzones">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </section>
{% endblock %}
