{% extends 'w3music/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
        <div class="content-inner overflow-hidden">
            <div class="container">
                <div id="lightgallery">
                    <div class="row loadmore-content">
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <div class="dz-box">
                                <a href="{% static 'w3music/images/gallery/grid/pic1.jpg' %}" data-src="{% static 'w3music/images/gallery/grid/pic1.jpg' %}" class="dz-media dz-img-overlay3 lg-item">
                                    <img src="{% static 'w3music/images/gallery/grid/pic1.jpg' %}"  alt="/">
                                    <span class="view-btn lightimg"></span>
                                </a>
                            </div>
                        </div>	
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <div class="dz-box">
                                <a href="{% static 'w3music/images/gallery/grid/pic2.jpg' %}" data-src="{% static 'w3music/images/gallery/grid/pic2.jpg' %}" class="dz-media dz-img-overlay3 lg-item">
                                    <img src="{% static 'w3music/images/gallery/grid/pic2.jpg' %}"  alt="/">
                                    <span class="view-btn lightimg"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <div class="dz-box">
                                <a href="{% static 'w3music/images/gallery/grid/pic3.jpg' %}" data-src="{% static 'w3music/images/gallery/grid/pic3.jpg' %}" class="dz-media dz-img-overlay3 lg-item">
                                    <img src="{% static 'w3music/images/gallery/grid/pic3.jpg' %}"  alt="/">
                                    <span class="view-btn lightimg"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <div class="dz-box">
                                <a href="{% static 'w3music/images/gallery/grid/pic4.jpg' %}" data-src="{% static 'w3music/images/gallery/grid/pic4.jpg' %}" class="dz-media dz-img-overlay3 lg-item">
                                    <img src="{% static 'w3music/images/gallery/grid/pic4.jpg' %}"  alt="/">
                                    <span class="view-btn lightimg"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <div class="dz-box">
                                <a href="{% static 'w3music/images/gallery/grid/pic5.jpg' %}" data-src="{% static 'w3music/images/gallery/grid/pic5.jpg' %}" class="dz-media dz-img-overlay3 lg-item">
                                    <img src="{% static 'w3music/images/gallery/grid/pic5.jpg' %}"  alt="/">
                                    <span class="view-btn lightimg"></span>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 m-b30">
                            <div class="dz-box">
                                <a href="{% static 'w3music/images/gallery/grid/pic6.jpg' %}" data-src="{% static 'w3music/images/gallery/grid/pic6.jpg' %}" class="dz-media dz-img-overlay3 lg-item">
                                    <img src="{% static 'w3music/images/gallery/grid/pic6.jpg' %}"  alt="/">
                                    <span class="view-btn lightimg"></span>
                                </a>
                            </div>
                        </div>		
                    </div>
                    <div class="text-center m-t10 m-sm-b0 m-b20">
                        <a class="btn btn-dark rounded-0 dz-load-more btn-hover-2" href="javascript:void(0);" rel="/static/w3music/ajax/gallery-2-columns.html">Load More</a>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
