{% extends 'w3music/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
		<!-- album section -->	
		<section class="content-inner">
			<div class="container-fluid">
				<div class="row loadmore-content">
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="album-box style-4 overlay-shine dz-img-effect zoom">
							<div class="dz-media">
								<img src="{% static 'w3music/images/album/releases-2/pic1.jpg' %}" alt="/">
							</div>
							<div class="dz-content">
								<h6 class="title">Techno Tornado</h6>
								<div class="dz-social-icon">
									<ul>
										<li><a class="text-dark" target="_blank"  href="https://gaana.com/">
											<i class="flaticon flaticon-music"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g">	
											<i class="flaticon flaticon-youtube-1"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://open.spotify.com/?">
											<i class="flaticon flaticon-spotify"></i>
										</a></li>
										<li><a class="text-dark" href="javascript:void(0)">
											<i class="flaticon flaticon-wave-sound"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="album-box style-4 overlay-shine dz-img-effect zoom">
							<div class="dz-media">
								<img src="{% static 'w3music/images/album/releases-2/pic2.jpg' %}" alt="/">
							</div>
							<div class="dz-content">
								<h6 class="title">Rainbow Rhapsody</h6>
								<div class="dz-social-icon">
									<ul>
										<li><a class="text-dark" target="_blank"  href="https://gaana.com/">
											<i class="flaticon flaticon-music"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g">	
											<i class="flaticon flaticon-youtube-1"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://open.spotify.com/?">
											<i class="flaticon flaticon-spotify"></i>
										</a></li>
										<li><a class="text-dark" href="javascript:void(0)">
											<i class="flaticon flaticon-wave-sound"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="album-box style-4 overlay-shine dz-img-effect zoom">
							<div class="dz-media">
								<img src="{% static 'w3music/images/album/releases-2/pic3.jpg' %}" alt="/">
							</div>
							<div class="dz-content">
								<h6 class="title">Electric Euphoria</h6>
								<div class="dz-social-icon">
									<ul>
										<li><a class="text-dark" target="_blank"  href="https://gaana.com/">
											<i class="flaticon flaticon-music"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g">	
											<i class="flaticon flaticon-youtube-1"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://open.spotify.com/?">
											<i class="flaticon flaticon-spotify"></i>
										</a></li>
										<li><a class="text-dark" href="javascript:void(0)">
											<i class="flaticon flaticon-wave-sound"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="album-box style-4 overlay-shine dz-img-effect zoom">
							<div class="dz-media">
								<img src="{% static 'w3music/images/album/releases-2/pic4.jpg' %}" alt="/">
							</div>
							<div class="dz-content">
								<h6 class="title">Funky Fusion Frenzy</h6>
								<div class="dz-social-icon">
									<ul>
										<li><a class="text-dark" target="_blank"  href="https://gaana.com/">
											<i class="flaticon flaticon-music"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g">	
											<i class="flaticon flaticon-youtube-1"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://open.spotify.com/?">
											<i class="flaticon flaticon-spotify"></i>
										</a></li>
										<li><a class="text-dark" href="javascript:void(0)">
											<i class="flaticon flaticon-wave-sound"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="album-box style-4 overlay-shine dz-img-effect zoom">
							<div class="dz-media">
								<img src="{% static 'w3music/images/album/releases-2/pic5.jpg' %}" alt="/">
							</div>
							<div class="dz-content">
								<h6 class="title">Time Traveling Tune</h6>
								<div class="dz-social-icon">
									<ul>
										<li><a class="text-dark" target="_blank"  href="https://gaana.com/">
											<i class="flaticon flaticon-music"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g">	
											<i class="flaticon flaticon-youtube-1"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://open.spotify.com/?">
											<i class="flaticon flaticon-spotify"></i>
										</a></li>
										<li><a class="text-dark" href="javascript:void(0)">
											<i class="flaticon flaticon-wave-sound"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="album-box style-4 overlay-shine dz-img-effect zoom">
							<div class="dz-media">
								<img src="{% static 'w3music/images/album/releases-2/pic6.jpg' %}" alt="/">
							</div>
							<div class="dz-content">
								<h6 class="title">Crystal Cadence</h6>
								<div class="dz-social-icon">
									<ul>
										<li><a class="text-dark" target="_blank"  href="https://gaana.com/">
											<i class="flaticon flaticon-music"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g">	
											<i class="flaticon flaticon-youtube-1"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://open.spotify.com/?">
											<i class="flaticon flaticon-spotify"></i>
										</a></li>
										<li><a class="text-dark" href="javascript:void(0)">
											<i class="flaticon flaticon-wave-sound"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="album-box style-4 overlay-shine dz-img-effect zoom">
							<div class="dz-media">
								<img src="{% static 'w3music/images/album/releases-2/pic7.jpg' %}" alt="/">
							</div>
							<div class="dz-content">
								<h6 class="title">Techno Tornado</h6>
								<div class="dz-social-icon">
									<ul>
										<li><a class="text-dark" target="_blank"  href="https://gaana.com/">
											<i class="flaticon flaticon-music"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g">	
											<i class="flaticon flaticon-youtube-1"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://open.spotify.com/?">
											<i class="flaticon flaticon-spotify"></i>
										</a></li>
										<li><a class="text-dark" href="javascript:void(0)">
											<i class="flaticon flaticon-wave-sound"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="album-box style-4 overlay-shine dz-img-effect zoom">
							<div class="dz-media">
								<img src="{% static 'w3music/images/album/releases-2/pic8.jpg' %}" alt="/">
							</div>
							<div class="dz-content">
								<h6 class="title">Rainbow Rhapsody</h6>
								<div class="dz-social-icon">
									<ul>
										<li><a class="text-dark" target="_blank"  href="https://gaana.com/">
											<i class="flaticon flaticon-music"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://www.youtube.com/channel/UCGL8V6uxNNMRrk3oZfVct1g">	
											<i class="flaticon flaticon-youtube-1"></i>
										</a></li>
										<li><a class="text-dark" target="_blank"  href="https://open.spotify.com/?">
											<i class="flaticon flaticon-spotify"></i>
										</a></li>
										<li><a class="text-dark" href="javascript:void(0)">
											<i class="flaticon flaticon-wave-sound"></i>
										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center m-t10 m-sm-b0 m-b20">
					<a class="btn btn-dark rounded-0 dz-load-more btn-hover-2" href="javascript:void(0);" rel="/static/w3music/ajax/standard-4-columns-wide.html">Load More</a>
				</div>
			</div>
		</section>
		<!-- album section -->	
{% endblock %}
