{% extends 'w3music/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
		<!-- about section -->	
		<section class="content-inner-3">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12 m-b30">
						<div class="section-head  style-1 wow fadeInUp" data-wow-delay="0.2s">
							<h5 class="sub-title">Team</h5>
							<h2 class="title">Meet Our Talented W3Music Team Harmony of Passionate Minds</h2>
							<p>No More Endlessly Listening To One Person’s Favorite Songs Over And Over. Hang The DJ Is a Collaborative Playlist That,</p>
							<a href="{% url 'w3music:contact-us' %}" class="btn btn-dark btn-md shadow-white m-r30 btn-hover-1 rounded-0"><span>JOIN OUR TEAM</span></a>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="dz-team style-2 wow fadeInUp" data-wow-delay="0.4s">
							<div class="dz-media">
								<img src="{% static 'w3music/images/team/pic1.jpg' %}" alt="/">
								<a href="{% url 'w3music:team' %}" class="view-btn">View More</a>
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="{% url 'w3music:artists-list' %}">Jones Brothers</a></h6>
									<span class="dz-position">Music Artist</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>							
										<ul class="sub-team-social">
											<li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="dz-team style-2 wow fadeInUp" data-wow-delay="0.6s">
							<div class="dz-media">
								<img src="{% static 'w3music/images/team/pic2.jpg' %}" alt="/">
								<a href="{% url 'w3music:team' %}" class="view-btn">View More</a>
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="{% url 'w3music:artists-list' %}">Jones Brothers</a></h6>
									<span class="dz-position">Music Artist</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>							
										<ul class="sub-team-social">
											<li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="dz-team style-2  wow fadeInUp" data-wow-delay="0.8s">
							<div class="dz-media">
								<img src="{% static 'w3music/images/team/pic3.jpg' %}" alt="/">
								<a href="{% url 'w3music:team' %}" class="view-btn">View More</a>
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="{% url 'w3music:artists-list' %}">John Doe</a></h6>
									<span class="dz-position">Music Artist</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>							
										<ul class="sub-team-social">
											<li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="dz-team style-2 wow fadeInUp" data-wow-delay="1.0s">
							<div class="dz-media">
								<img src="{% static 'w3music/images/team/pic4.jpg' %}" alt="/">
								<a href="{% url 'w3music:team' %}" class="view-btn">View More</a>
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="{% url 'w3music:artists-list' %}">Mistine Hoye</a></h6>
									<span class="dz-position">Music Artist</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>							
										<ul class="sub-team-social">
											<li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="dz-team style-2 wow fadeInUp" data-wow-delay="1.2s">
							<div class="dz-media">
								<img src="{% static 'w3music/images/team/pic5.jpg' %}" alt="/">
								<a href="{% url 'w3music:team' %}" class="view-btn">View More</a>
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="{% url 'w3music:artists-list' %}">K-pop Up Singer</a></h6>
									<span class="dz-position">Music Artist</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>							
										<ul class="sub-team-social">
											<li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12 m-b30">
						<div class="dz-team style-2 wow fadeInUp" data-wow-delay="1.4s">
							<div class="dz-media">
								<img src="{% static 'w3music/images/team/pic6.jpg' %}" alt="/">
								<a href="{% url 'w3music:team' %}" class="view-btn">View More</a>
							</div>
							<div class="dz-content">
								<div class="clearfix">
									<h6 class="dz-name"><a href="{% url 'w3music:artists-list' %}">Jones Brothers</a></h6>
									<span class="dz-position">Music Artist</span>
								</div>
								<ul class="team-social">
									<li>
										<a class="share-btn" href="javascript:void(0);"><i class="fa-solid fa-plus"></i></a>							
										<ul class="sub-team-social">
											<li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
											<li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
											<li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
											<li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
										</ul>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- about section -->	
{% endblock %}
