{% extends 'w3music/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}
		<!-- about section -->	
		<section class="content-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 m-b30">
						<div class="tickets-wrapper style-2 wow fadeInUp overlay-shine dz-img-effect zoom box-hover hover-aware" data-wow-delay="0.4s">
							<div class="tickets-info">	
								<div class="barcode m-10">
									<img src="{% static 'w3music/images/barcode-1.png' %}" alt="/">
								</div>
								<h6 class="text">Bemovo, Airport Warsaw</h6>
								<ul >
									<li>Gate: OID</li>		
									<li>Row: 06</li>		
									<li>Seat: 13</li>
								</ul>
							</div>	
							<div class="dz-info">
								<div class="d-flex justify-content-between">
									<div>
										<h5 class="sub-title">VIP Pass</h5>	
										<h2 class="title">VIP</h2>	
									</div>
									<h2 class="price m-r10">$12k</h2>												
								</div>
								<ul class="list">
									<li><i class="fa-solid fa-check"></i> Free Drinks & Food</li>
									<li><i class="fa-solid fa-check"></i> Vamous Star</li>
									<li><i class="fa-solid fa-check"></i> Special DJ</li>
									<li><i class="fa-solid fa-check"></i> Free Drinks & Food</li>
									<li><i class="fa-solid fa-check"></i> Vamous Star</li>
									<li><i class="fa-solid fa-check"></i> Special DJ</li>
								</ul>		
							</div>
							<div class="effect"></div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 m-b30">
						<div class="tickets-wrapper style-2 wow fadeInUp overlay-shine dz-img-effect zoom box-hover hover-aware" data-wow-delay="0.6s">
							<div class="tickets-info">	
								<div class="barcode m-10">
									<img src="{% static 'w3music/images/barcode-1.png' %}" alt="/">
								</div>
								<h6 class="text">Bemovo, Airport Warsaw</h6>
								<ul >
									<li>Gate: OID</li>		
									<li>Row: 06</li>		
									<li>Seat: 13</li>
								</ul>
							</div>	
							<div class="dz-info">
								<div class="d-flex  justify-content-between">
									<div>
										<h5 class="sub-title">Special Pass</h5>	
										<h2 class="title">Exotic</h2>	
									</div>
									<h2 class="price m-r10">$599</h2>												
								</div>
								<ul class="list">
									<li><i class="fa-solid fa-check"></i> Free Drinks & Food</li>
									<li><i class="fa-solid fa-check"></i> Vamous Star</li>
									<li><i class="fa-solid fa-check"></i> Special DJ</li>
									<li><i class="fa-solid fa-check"></i> Free Drinks & Food</li>
									<li><i class="fa-solid fa-check"></i> Vamous Star</li>
									<li><i class="fa-solid fa-check"></i> Special DJ</li>
								</ul>		
							</div>
							<div class="effect"></div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 m-b30">
						<div class="tickets-wrapper style-2 wow fadeInUp overlay-shine dz-img-effect zoom box-hover hover-aware" data-wow-delay="0.8s">
							<div class="tickets-info">	
								<div class="barcode m-10">
									<img src="{% static 'w3music/images/barcode-1.png' %}" alt="/">
								</div>
								<h6 class="text">Bemovo, Airport Warsaw</h6>
								<ul >
									<li>Gate: OID</li>		
									<li>Row: 06</li>		
									<li>Seat: 13</li>
								</ul>
							</div>	
							<div class="dz-info">
								<div class="d-flex  justify-content-between">
									<div>
										<h5 class="sub-title">Standard Pass</h5>	
										<h2 class="title">Flying</h2>	
									</div>
									<h2 class="price m-r10">$399</h2>												
								</div>
								<ul class="list">
									<li><i class="fa-solid fa-check"></i> Free Drinks & Food</li>
									<li><i class="fa-solid fa-check"></i> Vamous Star</li>
									<li><i class="fa-solid fa-check"></i> Special DJ</li>
									<li><i class="fa-solid fa-check"></i> Free Drinks & Food</li>
									<li><i class="fa-solid fa-check"></i> Vamous Star</li>
									<li><i class="fa-solid fa-check"></i> Special DJ</li>
								</ul>		
							</div>
							<div class="effect"></div>
						</div>
					</div>
					<div class="col-lg-6 col-md-12 m-b30">
						<div class="tickets-wrapper style-2 wow fadeInUp overlay-shine dz-img-effect zoom box-hover hover-aware" data-wow-delay="1s">
							<div class="tickets-info">	
								<div class="barcode m-10">
									<img src="{% static 'w3music/images/barcode-1.png' %}" alt="/">
								</div>
								<h6 class="text">Bemovo, Airport Warsaw</h6>
								<ul >
									<li>Gate: OID</li>		
									<li>Row: 06</li>		
									<li>Seat: 13</li>
								</ul>
							</div>	
							<div class="dz-info">
								<div class="d-flex  justify-content-between">
									<div>
										<h5 class="sub-title">Classic Pass</h5>	
										<h2 class="title">Mini</h2>	
									</div>
									<h2 class="price m-r10">$199</h2>												
								</div>
								<ul class="list">
									<li><i class="fa-solid fa-check"></i> Free Drinks & Food</li>
									<li><i class="fa-solid fa-check"></i> Vamous Star</li>
									<li><i class="fa-solid fa-check"></i> Special DJ</li>
									<li><i class="fa-solid fa-check"></i> Free Drinks & Food</li>
									<li><i class="fa-solid fa-check"></i> Vamous Star</li>
									<li><i class="fa-solid fa-check"></i> Special DJ</li>
								</ul>		
							</div>
							<div class="effect"></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- about section -->	
{% endblock %}
