// range-slider
.range-slider{
	&.style-1{
		.noUi-horizontal{
			height: 4px;
			.noUi-handle {
				width: 12px;
				height: 12px;
				border: 3px solid var(--secondary);
				background-color: var(--secondary);
				box-shadow: none;
				top: -4px;
				border-radius: 50%;
				right: 0;
				cursor: pointer;
				&:before,
				&:after{
					content: none;
				}
				
				.noUi-tooltip {
					display: none;
					border: 0px;
					background:var(--secondary);
					color: rgb(255, 255, 255);
					border-radius: 4px;
					font-size: 13px;
					bottom: -35px;
					font-weight: 600;
					padding: 2px 5px;
					&:after{
						content: "";
						position: absolute;
						background-color: inherit;
						width: 10px;
						height: 10px;
						top: 4px;
						margin-left: -4px;
						left: 50%;
						transform: rotate(45deg) translate(-50%, -50%);
					}
				}
			}
		}
		.noUi-target {
			background: #D7D7D7;
			border-radius: 0;
			border: 0;
			box-shadow: none;
			
			.noUi-connect {
				background: var(--secondary);
			}
		}
		span{
			margin-right: 15px;
		}
		.example-val{
			font-size: 17px;
			color: #666;
			font-weight: 400;
		}
		#slider-margin-value-max{
			float:right;
			margin:0;
		}
	}
}